<div class="hidden xl:px-48 lg:grid grid-cols-1 grid-rows-12 lg:grid-cols-4 lg:grid-rows-6 bg-dark p-8 gap-4" id="about">
    <div class="relative col-span-1 row-span-4 rounded-xl bg-blue-100">
        <h1 class="absolute font-semibold top-4 left-4 mr-12 text-xs text-black">
            Develop together with science-based mental health experts
        </h1>
        <img class="rounded-2xl absolute bottom-0" src="assets/Old.png" alt="Old" />
    </div>
    <div class="grid grid-rows-1 grid-cols-4 col-span-2 row-span-1 border border-white/50 rounded-xl">
        <div class="bg-red-100 text-red-100 rounded-bl-xl rounded-tl-xl">.</div>
        <div class="bg-yellow-200 text-yellow-200">.</div>
        <div class="bg-blue-600 text-blue-600">.</div>
        <div class="bg-green-500 text-green-500 rounded-tr-xl rounded-br-xl">.</div>
    </div>
    <div class="relative bg-blue-500 col-span-1 row-span-2 rounded-xl">
        <h1 class="absolute left-4 flex text-6xl top-4">200+</h1>
        <div class="absolute pt-12 bottom-4 left-4 flex flex-row items-center">
            <img class="bg-yellow-200 rounded-full" src="assets/Old.png" width="20" height="20" alt="Old" />
            <img class="bg-red-200 rounded-full" src="assets/Old.png" width="20" height="20" alt="Old" />
            <img class="bg-blue-200 rounded-full" src="assets/plus.png" width="30" height="30" alt="plus" />
            <p class="text-xs px-1">therapist available for personal therapist</p>
        </div>
    </div>
    <div class="relative bg-gradient-to-t from-green-100 via-yellow-100 to-pink-100 col-span-2 row-span-3 rounded-xl">
        <span class="absolute text-xs font-semibold text-black left-4 top-4">www.minmentor.com</span>
        <h1 class="absolute mt-3 items-center justify-center left-4 top-12 text-5xl text-dark font-thin">
            Meets <br /> AI for Your <br /> Inner Balance
        </h1>
        <span class="absolute bottom-4 left-4 text-xs text-black">
            Develop together with <br /> science based mental health <br /> experts
        </span>
        <img class="top-10 right-32 absolute" src="assets/Avatar1.png" width="70" height="70" alt="Avatar1" />
        <img class="top-8 right-16 absolute" src="assets/Avatar2.png" width="70" height="70" alt="Avatar2" />
        <img src="assets/Logo.png" width="50" height="50" class="absolute bottom-4 right-4" alt="Logo" />
    </div>
    <div class="relative col-span-1 row-span-4 rounded-xl bg-blue-100">
        <p class="absolute text-xs left-4 top-4 text-black">
            Harmony <br /> Redefined, <br /> by AI
        </p>
        <button
            class="px-1 right-4 top-6 absolute text-xs py-1 border-blue-500 text-blue-500 border rounded-xl cursor-pointer hover:bg-blue-500 hover:text-white duration-700">
            BALANCE
        </button>
        <img src="assets/Young.png" class="absolute bottom-0" alt="Young" />
    </div>
    <div class="relative col-span-1 row-span-2 bg-blue-500 rounded-xl">
        <button
            class="absolute text-xs rounded-xl left-2 top-2 px-2 py-1 bg-white text-blue-500 hover:bg-red-400 hover:text-light duration-500">Top
            Rated App</button>
        <h1 class="absolute right-4 top-6 text-4xl">4.8</h1>
        <img src="assets/Iphone.png" width="120" class="absolute bottom-0 right-0" alt="Iphone" />
    </div>
    <div class="relative items-center justify-center col-span-2 row-span-2 bg-green-400 rounded-xl">
        <img class="mx-auto justify-center items-center" src="assets/DVA.png" width="200" height="200" alt="DVA" />
    </div>
</div>