/* Estilos para el Navbar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* Asegura que la navbar esté encima del hero */
    transition: all 0.3s ease;
}

#navbar.scrolled {
    background-color: white;
    color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#navbar a {
    color: white;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#navbar.scrolled a {
    color: #333;
}

#navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #4741d7;
    transition: width 0.3s ease;
}

#navbar a:hover {
    color: #4741d7;
    transform: translateY(-2px);
}

#navbar a:hover::after {
    width: 100%;
}

#navbar.scrolled a:hover {
    color: #4741d7;
}