<section id="hero" class="h-screen text-white flex flex-col justify-center items-center text-center px-4">
    <!-- Mensaje Principal -->
    <h1 class="text-3xl sm:text-4xl lg:text-6xl font-bold mb-4">
        Transformando Ideas en Soluciones Digitales
    </h1>

    <!-- Descripción -->
    <p class="text-base sm:text-lg lg:text-xl mb-6 max-w-md md:max-w-lg">
        Ofrecemos soluciones innovadoras de software que impulsan el crecimiento de tu negocio y se adaptan a tus
        necesidades.
    </p>

    <!-- Botones CTA -->
    <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
        <a href="#contact"
            class="bg-[#E10098] text-white px-5 py-2 sm:px-6 sm:py-3 rounded-lg text-md sm:text-lg font-semibold
                   transition-all duration-300 ease-in-out
                   hover:bg-white hover:text-[#E10098]
                   hover:shadow-lg hover:shadow-pink-500/50
                   active:scale-95
                   transform">
            Contáctanos
        </a>
        <a href="#services"
            class="bg-transparent border border-[#E10098] px-5 py-2 sm:px-6 sm:py-3 rounded-lg text-md sm:text-lg font-semibold
                   transition-all duration-300 ease-in-out
                   hover:bg-[#E10098] hover:text-white
                   hover:shadow-lg hover:shadow-pink-500/50
                   active:scale-95
                   transform">
            Nuestros Servicios
        </a>
    </div>
</section>