<section id="hero" class="h-screen bg-[#F8F1E5] flex flex-col justify-center items-center text-center px-4">
    <!-- Mensaje Principal -->
    <h1 class="text-3xl sm:text-4xl lg:text-6xl font-bold mb-4 text-white">
        Transformando Ideas en <br> Soluciones Digitales
    </h1>

    <!-- Descripción -->
    <p class="text-base sm:text-lg lg:text-xl mb-6 max-w-md md:max-w-lg font-light text-white">
        Ofrecemos soluciones innovadoras de software que impulsan el crecimiento de tu negocio y se adaptan a tus
        necesidades.
    </p>

    <!-- Botones CTA -->
    <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
        <!-- Botón "Contáctanos" -->
        <a href="#contact" class="ov-btn-slide-left">
            Contáctanos
        </a>

        <!-- Botón "Nuestros Servicios" -->
        <a href="#services" class="ov-btn-slide-right">
            Nuestros Servicios
        </a>
    </div>
</section>