<section id="services" class="py-20">
    <div class="container mx-auto px-4">
        <h2 data-aos="fade-up" data-aos-delay="100"
            class="text-4xl font-bold mb-12 text-[var(--color-secondary)] text-center">
            Nuestros Servicios
        </h2>

        <!-- Ajuste de la cuadrícula -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Servicio 1: Desarrollo de Software -->
            <a href="#" data-aos="fade-up" data-aos-delay="200" class="group relative block bg-black">
                <img alt="Desarrollo de Software" src="/assets/desarrollo.jpg"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <!-- Alineación en la misma línea para el icono y el título -->
                    <div class="flex items-center gap-2">
                        <fa-icon [icon]="faLaptop" class="text-[var(--color-primary)] h-6 w-6 flex-shrink-0"></fa-icon>
                        <p class="text-xl font-bold text-white sm:text-2xl leading-none">Desarrollo de Software</p>
                    </div>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white font-semibold">
                                Creamos soluciones personalizadas adaptadas a las necesidades específicas de tu negocio.
                            </p>
                        </div>
                    </div>
                </div>
            </a>



            <!-- Servicio 2: Diseño UX/UI -->
            <a href="#" data-aos="fade-up" data-aos-delay="300" class="group relative block bg-black">
                <img alt="Diseño UX/UI" src="/assets/uxui.jpg"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <div class="flex items-center gap-2">
                        <fa-icon [icon]="faLightbulb"
                            class="text-[var(--color-primary)] h-6 w-6 flex-shrink-0"></fa-icon>
                        <p class="text-xl font-bold text-white sm:text-2xl">Diseño UX/UI</p>
                    </div>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white font-semibold">
                                Creamos interfaces intuitivas y atractivas para mejorar la experiencia de usuario.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 3: Estrategia Digital -->
            <a href="#" data-aos="fade-up" data-aos-delay="400" class="group relative block bg-black">
                <img alt="Estrategia Digital" src="/assets/datos.jpg"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <div class="flex items-center gap-2">
                        <fa-icon [icon]="faRocketlaunch"
                            class="text-[var(--color-primary)] h-6 w-6 flex-shrink-0"></fa-icon>
                        <p class="text-xl font-bold text-white sm:text-2xl">Estrategia Digital</p>
                    </div>

                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white font-semibold">
                                Desarrollamos estrategias digitales que impulsan el crecimiento de tu negocio.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 4: Consultoría en Tecnología -->
            <a href="#" data-aos="fade-up" data-aos-delay="500"
                class="group relative block bg-black lg:col-span-1 lg:col-start-2">
                <img alt="Consultoría en Tecnología" src="/assets/consultecno.jpg"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <div class="flex items-center gap-2">
                        <fa-icon [icon]="faLaptopCode"
                            class="text-[var(--color-primary)] h-6 w-6 flex-shrink-0"></fa-icon>
                        <p class="text-xl font-bold text-white sm:text-2xl">Consultoría en Tecnología</p>
                    </div>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white font-semibold">
                                Brindamos consultoría experta para optimizar procesos con las mejores soluciones
                                tecnológicas.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>