<section id="services" class="bg-[#F8F1E5] py-20">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold mb-12 text-[#1B1D2B] text-center">Nuestros Servicios</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <!-- Servicio 1: Desarrollo de Software -->
            <a href="#" class="group relative block bg-black">
                <img alt="Desarrollo de Software"
                    src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixid=MnwzMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <fa-icon [icon]="faLaptop" class="text-white h-12 w-12"></fa-icon>
                    <p class="text-xl font-bold text-white sm:text-2xl">Desarrollo de Software</p>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white">
                                Creamos soluciones personalizadas adaptadas a las necesidades específicas de tu negocio.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 2: Diseño UX/UI -->
            <a href="#" class="group relative block bg-black">
                <img alt="Diseño UX/UI"
                    src="https://images.unsplash.com/photo-1579135868471-72beccbcbd2c?ixid=MnwzMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <fa-icon [icon]="faLightbulb" class="text-white h-12 w-12"></fa-icon>
                    <p class="text-xl font-bold text-white sm:text-2xl">Diseño UX/UI</p>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white">
                                Creamos interfaces intuitivas y atractivas para mejorar la experiencia de usuario.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 3: Estrategia Digital -->
            <a href="#" class="group relative block bg-black">
                <img alt="Estrategia Digital"
                    src="https://images.unsplash.com/photo-1570533141506-ff64060d4b93?ixid=MnwzMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <fa-icon [icon]="faRocketlaunch" class="text-white h-12 w-12"></fa-icon>
                    <p class="text-xl font-bold text-white sm:text-2xl">Estrategia Digital</p>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white">
                                Desarrollamos estrategias digitales que impulsan el crecimiento de tu negocio.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 4: Consultoría en Tecnología -->
            <a href="#" class="group relative block bg-black">
                <img alt="Consultoría en Tecnología"
                    src="https://images.unsplash.com/photo-1570918152622-7a07c2b77e91?ixid=MnwzMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <!-- <fa-icon [icon]="faCogs" class="text-white h-12 w-12"></fa-icon> -->
                    <p class="text-xl font-bold text-white sm:text-2xl">Consultoría en Tecnología</p>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white">
                                Brindamos consultoría experta para optimizar procesos con las mejores soluciones
                                tecnológicas.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <!-- Servicio 5: Marketing Digital -->
            <a href="#" class="group relative block bg-black">
                <img alt="Marketing Digital"
                    src="https://images.unsplash.com/photo-1592882993646-32862f8e9d83?ixid=MnwzMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
                <div class="relative p-4 sm:p-6 lg:p-8">
                    <!-- <fa-icon [icon]="faBullhorn" class="text-white h-12 w-12"></fa-icon> -->
                    <p class="text-xl font-bold text-white sm:text-2xl">Marketing Digital</p>
                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                            <p class="text-sm text-white">
                                Ayudamos a mejorar tu presencia en línea y conectar con tu público objetivo.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>