/* En styles.css o tailwind.config.js */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #FE2990;
    /* Rosado */
    --color-secondary: #4741d7;
    /* Morado */
    --color-tertiary: #F8F1E5;
    /* Crema */
    --color-text-light: #FFFFFF;
    /* Blanco */
    --color-text-dark: #1B1D2B;
    /* Gris oscuro */
}